awscli==1.6.2
azureml==0.2.5
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.12.2
BeautifulSoup==3.2.1
boto==2.33.0
botocore==0.73.0
certifi==2015.9.6.2
colorama==0.2.5
decorator==3.4.0
docutils==0.12
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.7.3
jmespath==0.5.0
librato-metrics==0.4.9
lxml==1.0
MarkupSafe==0.23
mixpanel-py==3.1.1
multipledispatch==0.4.8
nltk==3.1
numpy==1.10.1
pandas==0.17.0
prettytable==0.7.2
pyasn1==0.1.9
python-dateutil==2.4.2
pytz==2015.7
requests==2.3.0
rsa==3.1.2
scikit-learn==0.17
scipy==0.16.1
six==1.10.0
SQLAlchemy==1.0.4
sseclient==0.0.8
textblob==0.11.0
tornado==4.1
Werkzeug==0.10.4
