<!DOCTYPE html>
<head>
  <title>Diagnosis</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"></head>
  <link href="{{ url_for('static', filename='') }}css/keen-dashboards.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='') }}css/style_results.css" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/radialProgress.js"></script>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1 id="searchQueryHeader"></h1>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
          <div id="sentiment"></div>
          <p class="lead">Sentiment</p>
        </div>
        <div class="col-md-4 text-center">
          <div id="classification"></div>
          <p class="lead">Classification</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <script language="JavaScript">
  start()
  function start() {
    var sentiment = radialProgress(document.getElementById('sentiment'))
    .label("Sentiment")
    .diameter(300)
    .value({{ azure_sentiment }})
    .render()
    var classification = radialProgress(document.getElementById('classification'))
    .label("Classification")
    .diameter(300)
    .value(78)
    .render()
  }
  var searchQuery = {{ search_query|safe }}
  var textAnalytics = {{ text_analytics|safe }}
  $("#searchQueryHeader").html(function(){
    var out = ""
    for(i = 0; i<searchQuery.length; i++) {
      if(textAnalytics.indexOf(searchQuery[i])>-1) {
        out = out.concat("<p class='pin' id='mesh'>"+searchQuery[i]+" </p>")
      }
      else {
        out = out.concat("<p class='pin'>"+searchQuery[i]+" </p>")
      }
    }
    return out
  })
  </script>
</body>
