<!DOCTYPE html>
<head>
  <title>Diagnosis</title>
  <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='') }}css/style_index.css" rel="stylesheet">
</head>
<body>
  <div id="search">
    <form action="{{ url_for('results') }}" method="post">
      <input type="search" name="query" value="" x-webkit-speech placeholder="Type your symptom(s) here" />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</body>
