body {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.7);
}
#mesh {
  color: #ffb3b3;
}
.pin{
    display: inline;
}
.component {
    fill: rgba(0, 0, 0, 0);
}
.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    color:#ffb3b3;
}
.arc {
    stroke-weight:0.1;
    fill: gray;
}
.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}
.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}
.radial-svg {
    display: block;
    margin: 0 auto;
}
