<!DOCTYPE html>
<head>

  <title>Diagnosis</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <link rel="shortcut icon" href="http://i.imgur.com/zD7TEdv.png" type="image/x-icon">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>

  <link href="{{ url_for('static', filename='') }}css/keen-dashboards.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='') }}css/style_results.css" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/radialProgress.js"></script>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1 id="searchQueryHeader"></h1>
      </div>
      <div class="row">
        <div class="col-md-2">

        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
          <div id="sentiment"></div>
          <p class="lead">Sentiment</p>
        </div>
        <div class="col-md-4 text-center">
          <div id="classification"></div>
          <p class="lead">Severity</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    <br>
   <div class="row">
      <div class="col-md-12 text-center" id="bar-chart">{{ diseases }}</div>
   </div>
  </div>

  <script language="JavaScript">

  start()
  function start() {
    var sentiment = radialProgress(document.getElementById('sentiment'))
    .label("Sentiment")
    .diameter(300)
    .value({{ azure_sentiment }})
    .render()
    var classification = radialProgress(document.getElementById('classification'))
    .label("Classification")
    .diameter(300)
    .value({{ severity }})
    .render()
  }
  var searchQuery = {{ search_query|safe }};
  var textAnalytics = {{ text_analytics|safe }};
  $("#searchQueryHeader").html(function(){
    var out = ""
    for(i = 0; i<searchQuery.length; i++) {
      if(textAnalytics.indexOf(searchQuery[i])>-1) {
        out = out.concat("<p class='pin' id='mesh'>"+searchQuery[i]+" </p>")
      }
      else {
        out = out.concat("<p class='pin'>"+searchQuery[i]+" </p>")
      }
    }
    return out
  })

  </script>

  <script language="JavaScript">
  var margin = {top: 20, right: 20, bottom: 30, left: 40},
  width = 960 - margin.left - margin.right,
  height = 500 - margin.top - margin.bottom;

  var x = d3.scale.ordinal()
  .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
  .range([height, 0]);

  var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom");

  var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(10, "%");

  var svg = d3.select("#bar-chart").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.tsv("{{ url_for('static', filename='') }}data.tsv", type, function(error, data) {
    if (error) throw error;

    x.domain(data.map(function(d) { return d.letter; }));
    y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

    svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

    svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Frequency");

    svg.selectAll(".bar")
    .data(data)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.letter); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d.frequency); })
    .attr("height", function(d) { return height - y(d.frequency); });
  });

  function type(d) {
    d.frequency = +d.frequency;
    return d;
  }

  </script>

</body>
