<!DOCTYPE html>
<head>

  <title>Diagnosis</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <link rel="shortcut icon" href="http://i.imgur.com/zD7TEdv.png" type="image/x-icon">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <link href="{{ url_for('static', filename='') }}css/keen-dashboards.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='') }}css/style_results.css" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='') }}js/radialProgress.js"></script>
</head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1 id="searchQueryHeader"></h1>
      </div>
      <div class="row">
        <div class="col-md-2">

        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
          <p class="lead">Sentiment</p>
          <div id="sentiment"></div>
        </div>
        <div class="col-md-4 text-center">
          <p class="lead">Severity</p>
          <div id="classification"></div>
        </div>
        <div class="col-md-2"></div>
      </div>
    <br>
    <div class="row"><div class="col-md-12">
      <hr class="divider">
    </div></div>
   <div class="row">
      <div class="col-md-12 text-center" id="bar-chart">
        <canvas id="disease-chart" width="600" height="400"></canvas>
      </div>
   </div>
   <div class="row"><div class="col-md-12">
     <hr class="divider">
   </div></div>
  </div>

  <script language="JavaScript">

  start()
  function start() {
    var sentiment = radialProgress(document.getElementById('sentiment'))
    .label("Sentiment")
    .diameter(300)
    .value({{ azure_sentiment }})
    .render()
    var classification = radialProgress(document.getElementById('classification'))
    .label("Classification")
    .diameter(300)
    .value({{ severity }})
    .render()
  }
  var searchQuery = {{ search_query|safe }};
  var textAnalytics = {{ text_analytics|safe }};
  $("#searchQueryHeader").html(function(){
    var out = ""
    for(i = 0; i<searchQuery.length; i++) {
      if(textAnalytics.indexOf(searchQuery[i])>-1) {
        out = out.concat("<p class='pin' id='mesh'>"+searchQuery[i]+" </p>")
      }
      else {
        out = out.concat("<p class='pin'>"+searchQuery[i]+" </p>")
      }
    }
    return out
  })

  </script>
<script type="text/javascript" src="{{ url_for('static', filename='') }}js/Chart.min.js"></script>
<script language="JavaScript">

var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

var data_labels = {{ disease_labels|safe }}
var data_score= {{ disease_score|safe }}
console.log(data_labels)
console.log(data_score)
var data = {{ diseases|safe }}
console.log(data)
var barChartData = {
		labels : data_labels,
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : data_score
			}
		]

	}

console.log(barChartData)

  var ctx = $("#disease-chart").get(0).getContext("2d");
  var myNewChart = new Chart(ctx);
  new Chart(ctx).Bar(barChartData);
  /*
  console.log(data)
  window.onload = function() {
    var ctx = document.getElementById("disease-chart").getContext("2d");
    window.barChart = new Chart(ctx).Bar(data, {
      responsive : true
    })
  }
  */
  </script>


</body>
